body, form, ol, ul,li, h1,h2,h3,dl,dd, p, img {
    margin: 0;
    padding: 0;
    font-weight: 400;
   }
   h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:normal;}
   ul,ol,li {
    list-style: none;
   }
   a {
    text-decoration: none;
    color: #333;
   }
   a:hover {
    color: #333;
   }
   input {
    outline: none;
   }
   html {
     font-size: 8.88888888888889vw;
    }
   body {
    font-size: 16px;
    font-family: Arial, "Microsoft YaHei", "微软雅⿊";
    background-color: #f1f5f8;
   }
   .bg {
    background-color: #f1f5f8;
   }
   .pd-body {
    padding: .4rem .32rem;
   }
  .border1px {
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .5);
  }
  // pubilc css
  .footer-btn {
    display: flex;
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
    height: .88rem;
    line-height: .88rem;
    font-size: .36rem;
    border-top: .01rem solid rgba(89, 181, 141, 1);
    div {
        width: 50%;
        text-align: center;
    }
}
.btn-left {
    color: #59B58D;
    background: rgba(244, 246, 246, 1);
}
.btn-right {
    color: #fff;
    background-color: rgba(89, 181, 141, 1);
}